127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{{ ansible_default_ipv4.address }}  {{ ansible_fqdn }}

# Suport TI
10.32.0.11	pwinbkp01		pwinbkp01.da.inf.sta
10.32.0.13	pwinbkp02		pwinbkp02.da.inf.sta
10.32.0.12	pwinbkp03		pwinbkp03.da.inf.sta
10.32.0.14	pwinbkp04		pwinbkp04.da.inf.sta
10.32.0.17	pwincommv01		pwincommv01.da.inf.sta

